<div class="topnav">
</div>
<div class="sidenav">
  <a href="/user-create">Create User</a>
  <a href='/user-list'>User List</a>
  <a href='/feeds-create'>Upload Feeds</a>
  <a href="/feeds-list">Feeds List</a>
</div>
<div class="content" role="main">
  <div class="center">
    <h2>CREATE USER </h2>
  </div>
  <form name="userFormGroup" [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">
    <div>
      <div class="container">
        <div class="form-group">
          <label for="title">Name</label>&nbsp;&nbsp;
          <input type="text" placeholder="Enter Name" class="form-control" formControlName="name" required />
          <div class="red" *ngIf="submitted && f.name.errors">
            Name is required
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
          <label for="title">Email</label>&nbsp;&nbsp;
          <input type="text" placeholder="Enter Email" class="form-control" formControlName="email_id" required />
          <div class="red" *ngIf="submitted && f.email_id.errors">
            Email is required
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
          <label for="title">Mobile</label>&nbsp;&nbsp;
          <input type="number" placeholder="Enter Mobile" class="form-control" formControlName="mobile" required />
          <div class="red" *ngIf="submitted && f.mobile.errors">
            Mobile is required
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
          <label for="title">Gender</label>&nbsp;&nbsp;
          <label>
            <input type="radio" value="Male" formControlName="gender">
            <span>Male</span>
          </label>
          <label>
            <input type="radio" value="Female" formControlName="gender">
            <span>Female</span>
          </label>
          <div class="red" *ngIf="submitted && f.gender.errors">
            Gender is required
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
          <label for="title">Password</label>&nbsp;&nbsp;
          <input type="password" placeholder="Enter Password" class="form-control" formControlName="password" required />
          <div class="red" *ngIf="submitted && f.password.errors">
            Password is required
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div>
      <button type="submit">Save</button>&nbsp;
    </div>
  </form>
</div>
