<div class="topnav">
</div>
<div class="sidenav">
  <a href="/user-create">Create User</a>
  <a href='/user-list'>User List</a>
  <a href='/feeds-create'>Upload Feeds</a>
  <a href="/feeds-list">Feeds List</a>
</div>
<div class="content" role="main">
  <div class="center">
    <h2>UPLOAD FEEDS</h2>
  </div>
  <form name="feedPost" [formGroup]="feedPost" (ngSubmit)="onSubmit()">
    <div>
      <div class="container">
        <div class="form-group">
          <label for="title">Title</label>&nbsp;&nbsp;
          <input type="text" placeholder="Enter Title" class="form-control" formControlName="title" required />
          <div class="red" *ngIf="submitted && f.title.errors">
            Title is required
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;
        <div class="form-group">
          <label for="title">Description</label>&nbsp;&nbsp;
          <textarea type="text" placeholder="Enter Description" class="form-control" formControlName="description"
            required></textarea>
          <div class="red" *ngIf="submitted && f.description.errors">
            Description is required
          </div>
        </div>
        &nbsp;&nbsp;&nbsp;
      </div>
    </div>
    &nbsp;&nbsp;&nbsp;
    <div>
      <button type="submit">Save</button>&nbsp;
    </div>
  </form>
</div>
